Repository unmsmfisi-socialapplication/social_app, pull requests merged in 2023-11, with the labels that each got.

#489 [DATA] Connection DataBase for Team Data
  data/cloud_platform/coneccion.go
  data/cloud_platform/readme_coneccion.txt
Labels: data

#507 [DATA]Getting social media data from your API
  data/dataInstagram.py
  data/dataReddit.py
Labels: data

#506 [DATA] feat: Convert of raw data to dataframe
  data/cloud_platform/convert_dataframe.py
Labels: data

#505 [DATA] load: Format and load dataframe to CSV
  data/cloud_platform/load_csv.py
Labels: data

#513 [Data] refactor: sa script splitting
  data/execution/sa_lr_pyspark_main.py
  data/models_pg/sentiment_analysis/sa_lr_pyspark_main_test.ipynb
  data/preprocessing/sa_lr_pyspark_preprocessing.py
  data/training/sa_lr_pyspark_training.py
Labels: documentation, data

#490 [M] fix: pull request #468
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/social/EmptyActivity.kt
  android/app/src/main/java/com/social/Social.kt
  android/app/src/main/java/com/social/di/ApiSocialApp.kt
  android/app/src/main/java/com/social/domain/usecase/ValidateUser.kt
  android/app/src/main/java/com/social/presentation/authentication/AuthenticationUseCase.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginDataState.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginFragment.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginViewModel.kt
  android/app/src/main/java/com/social/utils/Resource.kt
  android/build.gradle.kts
Labels: mobile

#540 DEV feat (redux) ; connect proyect
  frontend/package.json
  frontend/src/app/Enrollment.tsx
  frontend/src/app/auth/auth.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/globals.scss
  frontend/src/app/intranet/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/atoms/Button/button.tsx
  frontend/src/data/entities/Error.tsx
  frontend/src/data/entities/User.tsx
  frontend/src/domain/repositories/AuthRepository.tsx
  frontend/src/domain/repositories/RegisterRepository.tsx
  frontend/src/domain/repositories/UserRepository.tsx
  frontend/src/domain/usecases/AuthServises.tsx
  frontend/src/domain/usecases/UserServices.tsx
  frontend/src/redux/actions/userAction.tsx
  frontend/src/redux/ducks/user.tsx
  frontend/src/redux/hooks.tsx
  frontend/src/redux/provider.tsx
  frontend/src/redux/store.tsx
  frontend/src/utilities/Constant.tsx
Labels: frontend

#562 [FE] (Component): FollowPersonCard
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/CardFollow/CardFollow.module.scss
  frontend/src/components/atoms/CardFollow/CardFollow.tsx
  frontend/src/components/index.tsx
Labels: frontend

#151 [BE] feat: set interest topics for user
  backend/internal/interest_topics/application/interestTopicUseCase.go
  backend/internal/interest_topics/application/interestTopicUseCase_test.go
  backend/internal/interest_topics/domain/userInterestRepositoryI.go
  backend/internal/interest_topics/domain/userInterestsTopic.go
  backend/internal/interest_topics/domain/userInterestsTopic_test.go
  backend/internal/interest_topics/infraestructure/selectTopicHandler.go
  backend/internal/interest_topics/infraestructure/selectTopicHandler_test.go
  backend/internal/interest_topics/infraestructure/userInterestRepository.go
  backend/internal/interest_topics/router.go
  backend/internal/router/router.go
Labels: backend

#534 [DEVOPS] Auto build of DB with compose
  backend/.dockerignore
  backend/.gitignore
  backend/docker-compose.yaml
  backend/migrations/0000000000_create_schema.sql
Labels: backend, devops

#539 [M] edit user biography screen
  android/app/src/main/java/com/social/presentation/authentication/LoginFragment.kt
  android/app/src/main/java/com/social/presentation/profile/EditProfileFragment.kt
  android/app/src/main/res/drawable/icon_confirmation.xml
  android/app/src/main/res/drawable/icon_left_arrow.xml
  android/app/src/main/res/drawable/icon_user.xml
  android/app/src/main/res/drawable/photo_profile.jpg
  android/app/src/main/res/layout/fragment_edit_profile.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: frontend, mobile

#544 [M] fix: pull request #539
  android/app/src/main/java/com/social/presentation/authentication/LoginFragment.kt
Labels: mobile

#574 [DATA] feat: Data add testing csv and new file raw
  data/models_pg/__init__.py
  data/models_pg/test_raw_.py
  data/raw/__init__.py
  data/raw/raw_collection.py
Labels: data

#250 [BE] feat: Implement chat architecture
  backend/cmd/server.go
  backend/go.mod
  backend/go.sum
  backend/internal/router/router.go
  backend/internal/ws/domain/client.go
  backend/internal/ws/domain/hub.go
  backend/internal/ws/infraestructure/wsHandler.go
  backend/internal/ws/test/client_test.go
  backend/internal/ws/test/hub_test.go
  backend/internal/ws/test/wsHandler_test.go
Labels: backend

#542 FE_tag_test
  frontend/src/components/atoms/Tag/tag.test.tsx
Labels: frontend

#587 DATA_Spam_detection_processes_division
  data/execution/sp_lr_sklearn_main.py
  data/preprocessing/sp_lr_sklearn_preprocessing.py
  data/training/sp_lr_sklearn_training.py
Labels: data

#591 DATA_Unit_Testing_Activities_for_Files_in_the_sp_lr_sklearn_Python_Mo…
  data/models_pg/spam_detector/sp_lr_sklearn_main_test.py
  data/models_pg/spam_detector/sp_lr_sklearn_preprocessing_test.py
  data/models_pg/spam_detector/sp_lr_sklearn_training_test.py
Labels: data

#584 [M] feat: remember user and password
  android/app/src/main/java/com/social/presentation/authentication/LoginFragment.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginViewModel.kt
Labels: mobile

#525 [Backend] feat: Add Follow Profiles Tables
  backend/migrations/0000000002_create_profiles_table.up.sql
  backend/migrations/0000000009_create_profile_followers_table.down.sql
  backend/migrations/0000000009_create_profile_followers_table.up.sql
Labels: backend

#509 [BE] feat: Add tables for interest topics feature
  backend/migrations/0000000007_create_m_users_interests.down.sql
  backend/migrations/0000000007_create_m_users_interests.up.sql
  backend/migrations/0000000008_create_users_interest_topics.down.sql
  backend/migrations/0000000008_create_users_interest_topics.up.sql
Labels: backend

#568 [FE] (Component): Search
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/CardFollow/CardFollow.tsx
  frontend/src/components/atoms/Search/Search.scss
  frontend/src/components/atoms/Search/Search.tsx
  frontend/src/components/index.tsx
Labels: frontend

#609 [BE] feat: Implement follow user
  backend/internal/follow/application/followUseCase.go
  backend/internal/follow/application/followUseCase_test.go
  backend/internal/follow/domain/follower.go
  backend/internal/follow/domain/follower_test.go
  backend/internal/follow/infrastructure/followHandler.go
  backend/internal/follow/infrastructure/followHandler_test.go
  backend/internal/follow/infrastructure/followRepository.go
  backend/internal/follow/router.go
  backend/internal/router/router.go
Labels: backend

#598 [M] profile user
  android/app/src/main/java/com/social/presentation/profile/UserProfileFragment.kt
  android/app/src/main/res/drawable/bottom_radius_style.xml
  android/app/src/main/res/drawable/icon_settings.png
  android/app/src/main/res/drawable/style_imagebtn_radius.xml
  android/app/src/main/res/layout/fragment_chat_screen.xml
  android/app/src/main/res/layout/fragment_user_profile.xml
  android/app/src/main/res/navigation/navigation.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: frontend, mobile

#617 [FE] feat: add functions distanceLevenshtein and mostSimilarPhrase
  frontend/src/utilities/Functions.tsx
Labels: frontend

#619 [M] feat Register new user
  android/app/src/main/java/com/social/data/repository/SocialAppRepositoryImp.kt
  android/app/src/main/java/com/social/data/source/remote/ApiInterface.kt
  android/app/src/main/java/com/social/data/source/remote/dto/RegisterDto.kt
  android/app/src/main/java/com/social/data/source/remote/dto/RegisterUserErrorDto.kt
  android/app/src/main/java/com/social/di/ApiSocialApp.kt
  android/app/src/main/java/com/social/domain/SocialAppRepository.kt
  android/app/src/main/java/com/social/domain/model/Register.kt
  android/app/src/main/java/com/social/domain/model/RegisterBody.kt
  android/app/src/main/java/com/social/domain/model/RegisterData.kt
  android/app/src/main/java/com/social/domain/model/RegisterDataError.kt
  android/app/src/main/java/com/social/domain/usecase/RegisterNewUser.kt
  android/app/src/main/java/com/social/presentation/authentication/AuthenticationUseCase.kt
  android/app/src/main/java/com/social/presentation/authentication/RegisterEvent.kt
  android/app/src/main/java/com/social/presentation/authentication/RegisterFragment.kt
  android/app/src/main/java/com/social/presentation/authentication/RegisterUserState.kt
  android/app/src/main/java/com/social/presentation/authentication/RegisterUserViewModel.kt
  android/app/src/main/java/com/social/utils/Resource.kt
Labels: mobile

#626 [M] junitTest profile user
  android/app/src/androidTest/java/com/social/profileTest/UserProfileFragmentTest.kt
  android/app/src/main/java/com/social/presentation/profile/UserProfileFragment.kt
  android/app/src/main/res/values/strings.xml
Labels: frontend, mobile, test

#625 [FE] Topic Follow Component
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/TopicFollow/TopicFollow.module.scss
  frontend/src/components/atoms/TopicFollow/TopicFollow.tsx
  frontend/src/components/index.tsx
Labels: frontend

#589 [DATA] test: Add testing for dataframe creation
  data/models_pg/test_raw_.py
Labels: data

#631 [M] profile user upload
  android/app/src/main/res/layout/fragment_user_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: bug, frontend, mobile

#638 [M] post list integration with profile
  android/app/src/main/java/com/social/presentation/profile/UserProfileFragment.kt
  android/app/src/main/res/drawable/icon_settings.png
  android/app/src/main/res/drawable/icon_settings.xml
  android/app/src/main/res/drawable/navbar_icon_user_bold.xml
  android/app/src/main/res/drawable/post_icon_comment.xml
  android/app/src/main/res/drawable/post_icon_like.xml
  android/app/src/main/res/drawable/post_icon_save.xml
  android/app/src/main/res/drawable/post_icon_share.xml
  android/app/src/main/res/drawable/style_imagebtn_radius.xml
  android/app/src/main/res/layout/fragment_list_post.xml
  android/app/src/main/res/layout/fragment_user_profile.xml
  android/app/src/main/res/layout/item_post.xml
  android/app/src/main/res/layout/navigation_navbar.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: mobile

#642 [M] Feat: Home UI
  android/app/src/main/java/com/social/presentation/authentication/LoginFragment.kt
  android/app/src/main/java/com/social/presentation/home/HomeFragment.kt
  android/app/src/main/res/drawable/attachbutton.png
  android/app/src/main/res/drawable/bx_chat.png
  android/app/src/main/res/drawable/commentbutton.xml
  android/app/src/main/res/drawable/completeimage.png
  android/app/src/main/res/drawable/favoritebutton.xml
  android/app/src/main/res/drawable/fowardbutton.xml
  android/app/src/main/res/drawable/homebackground.png
  android/app/src/main/res/drawable/imagebutton.png
  android/app/src/main/res/drawable/likebutton.xml
  android/app/src/main/res/drawable/model.png
  android/app/src/main/res/drawable/notifications_none.png
  android/app/src/main/res/drawable/perucusco.jpg
  android/app/src/main/res/drawable/search2.png
  android/app/src/main/res/drawable/videobutton.png
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/item_card_post.xml
  android/app/src/main/res/navigation/navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: mobile

#646 [DATA] feat: Add Post Classification with LSTM
  data/execution/pc_lr_main.py
  data/preprocessing/pc_lr_preprocessing.py
  data/training/pc_lr_training.py
Labels: data

#653 [M] cover photo specifications
  android/app/src/main/res/drawable/icon_clear.xml
  android/app/src/main/res/layout/item_cover_photo_specifications.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: frontend, mobile

#656 Data improve sa model for cloud migration
  data/execution/sa_lr_pyspark_main.py
  data/models/sentiment_analysis/pyspark_ls_script.py
  data/models_pg/sentiment_analysis/sa_logistic_regression_pyspark.ipynb
  data/models_pg/sentiment_analysis/sa_lr_pyspark_main_test.ipynb
  data/models_pg/sentiment_analysis/test_sa_lr_pyspark_preprocessing.py
  data/models_pg/sentiment_analysis/test_sa_lr_pyspark_training.py
  data/preprocessing/sa_lr_pyspark_preprocessing.py
  data/training/sa_lr_pyspark_training.py
Labels: enhancement, data

#649 [BE] Add tables and functions for send comments api
  .github/workflows/mobile_ci.yaml
  backend/migrations/0000000014_create_comments_table.down.sql
  backend/migrations/0000000014_create_comments_table.up.sql
  backend/migrations/0000000015_create_seg_send_comments_table.down.sql
  backend/migrations/0000000015_create_seg_send_comments_table.up.sql
  backend/migrations/0000000016_create_send_comments_function.down.sql
  backend/migrations/0000000016_create_send_comments_function.up.sql
Labels: backend

#662 [DEVOPS] Fixed CI runtime issue - Gradle cache
  .github/workflows/mobile_ci.yaml
Labels: devops

#667 [DEVOPS] Setup mobile CD
  .github/workflows/mobile_cd.yml
Labels: devops

#669 [Devops] Setting up the build.gradle.kts files
  android/app/build.gradle.kts
  android/build.gradle.kts
Labels: devops

#670 [DEVOPS] Adding the google-services json file to CD pipeline
  .github/workflows/mobile_cd.yml
Labels: devops

#672 [BE] Addition of soc_app_auth_sessions Table to Handle User Sessions
  backend/go.mod
  backend/go.sum
  backend/internal/login/application/loginUseCase.go
  backend/internal/login/domain/model.go
  backend/internal/login/infrastructure/loginHandler.go
  backend/internal/login/infrastructure/loginHandler_test.go
  backend/internal/login/infrastructure/loginRepository.go
  backend/migrations/0000000012_create_auth_sessions_table.down.sql
  backend/migrations/0000000012_create_auth_sessions_table.up.sql
Labels: backend

#652 FE: function findMarchingWords
  frontend/src/utilities/Functions.tsx
Labels: frontend

#622 [FE] Test: functions distance levenshtein and most similar phrase
  frontend/src/test/function.test.tsx
Labels: frontend

#700 [M] Fix: build project adding googleservicesjson
  android/app/google-services.json
Labels: mobile, devops

#664 [BE] Implementation of complementary tests for comments functionality
  backend/internal/comment/application/commentUseCase.go
  backend/internal/comment/domain/comment.go
  backend/internal/comment/infrastructure/commentHandler.go
  backend/internal/comment/infrastructure/commentHandler_test.go
  backend/internal/comment/infrastructure/commentRepository.go
  backend/internal/comment/router.go
Labels: backend

#702 [FE] List_Option & Button
  frontend/src/app/intranet/index.scss
  frontend/src/app/intranet/intranet.tsx
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Logo/titleSearch.tsx
  frontend/src/components/atoms/Tag/index.scss
  frontend/src/components/organisms/SideBar/SideBar.tsx
  frontend/src/components/organisms/SideBar/index.scss
Labels: frontend

#685 [DATA] feat: Add Baseline Testing
  data/baseline_testing.py
  data/models/sentiment_analysis/pyspark_ls_script.py
  data/models/spam_detector/sp_Create_script_model_Logistic_Regression_Parametrizacion.py
Labels: data

#693 [DATA] feat: New conection python with postgresql
  data/pg_bd/BI/migration/df_conection_test.py
Labels: data

#666 [BE] Implement Token Authentication & Session Management in Login Component
  backend/go.mod
  backend/go.sum
  backend/internal/login/application/loginUseCase.go
  backend/internal/login/domain/model.go
  backend/internal/login/infrastructure/loginHandler.go
  backend/internal/login/infrastructure/loginHandler_test.go
  backend/internal/login/infrastructure/loginRepository.go
Labels: backend

#718 [FE] Fix logo student
  frontend/src/components/atoms/Logo/titleSearch.tsx
  frontend/src/components/organisms/SideBar/SideBar.tsx
Labels: frontend

#731 [DATA]bi_sentimental
  data/pg_bd/BI/script/bi_testing_sentimental.sql
  data/pg_bd/BI/stores_procedures/bi.process_bi_sentimental.sql
Labels: documentation, data

#735 [Frontend] feat: add PostTypes molecule and test
  frontend/src/app/test/page.tsx
  frontend/src/components/index.tsx
  frontend/src/components/molecules/PostTypes/index.test.tsx
  frontend/src/components/molecules/PostTypes/index.tsx
Labels: frontend, test

#680 [BE] Addition of soc_app_auth_sessions Table to Handle User Sessions
  backend/migrations/0000000012_create_auth_sessions_table.down.sql
  backend/migrations/0000000012_create_auth_sessions_table.up.sql
Labels: backend

#676 [BE] Add 'role' Column to 'SOC_APP_USERS' Table for Enhanced User Management
  backend/migrations/0000000013_alter_users_table.down.sql
  backend/migrations/0000000013_alter_users_table.up.sql
Labels: backend

#643 FE_test_avatar_input
  frontend/src/app/test/page.tsx
  frontend/src/components/molecules/AvatarInput/avatar.test.tsx
  frontend/src/components/molecules/AvatarInput/index.tsx
Labels: frontend

#747 FE_user_chat_cta_component
  frontend/src/app/test/page.tsx
  frontend/src/components/index.tsx
  frontend/src/components/molecules/UserChatCTA/index.scss
  frontend/src/components/molecules/UserChatCTA/index.tsx
Labels: frontend

#737 BE_Update_Endpoint_Post
  backend/internal/post/application/postUseCase.go
  backend/internal/post/domain/model.go
  backend/internal/post/helpers/helpers.go
  backend/internal/post/infrastructure/postHandler.go
  backend/internal/post/infrastructure/postRepository.go
  backend/internal/post/router.go
  backend/internal/post/tests/postHandler_test.go
Labels: backend

#760 [QA] Contract for login
  QA/contracts/contract_login.json
Labels: QA

#763 [QA] Registration contract update
  QA/contracts/contract_registration.json
Labels: QA

#582 [DEVOPS] Implementing dependabot
  .github/dependabot.yml
Labels: enhancement, devops

#767 [DATA] Log table for BI processes
  data/pg_bd/BI/script/bi_log.sql
Labels: data

#776 [DEVOPS] Adding verifiers groups
  .gitignore
  android/app/build.gradle.kts
  android/app/google-services.json
Labels: devops

#777 [DEVOPS] Correct appointment of a group of verifiers
  android/app/build.gradle.kts
Labels: devops

#782 [DEVOPS] feat: add GCP as IAC in Terraform for backend
  .gitignore
  infra/backend/dev.tfvars
  infra/backend/main.tf
  infra/backend/providers.tf
  infra/backend/variables.tf
Labels: devops

#713 [DEVOPS] Add: Terraform setup for Data-Team sql database
  .gitignore
  infra/data/local.tfvars
  infra/data/main.tf
  infra/data/providers.tf
  infra/data/test.txt
  infra/data/variables.tf
Labels: devops

#787 [M] Fix the model reference to classes in register new user
  android/app/src/main/java/com/social/data/repository/SocialAppRepositoryImp.kt
  android/app/src/main/java/com/social/data/source/remote/ApiInterface.kt
  android/app/src/main/java/com/social/domain/SocialAppRepository.kt
  android/app/src/main/java/com/social/domain/usecase/RegisterNewUser.kt
Labels: mobile

#791 [DEVOPS] feat: add backend terraform pipeline
  .github/workflows/backend-tf.yaml
  .github/workflows/manual-backend-tf.yaml
Labels: devops

#792 [QA] Update contract for login
  QA/contracts/contract_login.json
Labels: QA

#794 [QA] Update contract for registration
  QA/contracts/contract_registration.json
Labels: QA

#788 [M] Test Register new user use case
  android/app/build.gradle.kts
  android/app/src/test/java/com/social/domain/usecase/RegisterNewUserTest.kt
Labels: mobile, test

#806 [M] Fix Login access using the mobile app
  android/app/src/main/java/com/social/data/repository/SocialAppRepositoryImp.kt
  android/app/src/main/java/com/social/data/source/remote/ApiInterface.kt
  android/app/src/main/java/com/social/data/source/remote/dto/LoginDto.kt
  android/app/src/main/java/com/social/domain/SocialAppRepository.kt
  android/app/src/main/java/com/social/domain/model/Login.kt
  android/app/src/main/java/com/social/domain/model/LoginUserData.kt
  android/app/src/main/java/com/social/domain/usecase/RegisterNewUser.kt
  android/app/src/main/java/com/social/domain/usecase/ValidateCreatePost.kt
  android/app/src/main/java/com/social/domain/usecase/ValidateUser.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginDataState.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginFragment.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginViewModel.kt
  android/app/src/main/java/com/social/utils/Resource.kt
Labels: mobile

#784 [QA] Update for contract of post creation
  QA/contracts/contract_post_creation_update.json
Labels: QA

#764 [QA] Test for Profile feature using POST method in Postman
  QA/postman_test/QA_Postman_test_Profile_Post_101123.json
Labels: QA

#783 [QA] Update in contract about topic of interest
  QA/contracts/contract_topic_of_interest_update.json
Labels: QA

#759 [QA] Test for Profile Update/Get feature in Postman
  QA/postman_test/QA_postman_test_Profile_Update_Get_101123.json
Labels: QA

#773 [QA] Test for Topic of Interests feature in Postman
  QA/postman_test/QA_postman_test_topic_of_interest_101123.json
Labels: QA

#697 [FE]: test function find marching words
  frontend/src/test/function.test.tsx
  frontend/src/utilities/Functions.tsx
Labels: frontend, test

#810 [DATA] Restructured Data folder
  data/README.md
  data/bussines_analytics/data_transformation/script/bi_log.sql
  data/bussines_analytics/data_transformation/script/bi_testing_sentimental.sql
  data/bussines_analytics/data_transformation/stores_procedures/bi.process_bi_sentimental.sql
  data/bussines_analytics/migration/df_conection_test.py
  data/models/sentiment_analysis/pyspark_ls_script.py
  data/models/spam_detector/sp_Create_script_model_Logistic_Regression_Parametrizacion.py
  data/notebook/__init__.py
  data/notebook/post_classification/nlp_bert_transformers.ipynb
  data/notebook/sentiment_analysis/sa_logistic_regression_pyspark.ipynb
  data/notebook/sentiment_analysis/sa_lr_pyspark_main_test.ipynb
  data/notebook/sentiment_analysis/sa_lr_pyspark_test.ipynb
  data/notebook/sentiment_analysis/sa_lstm_pytorch.ipynb
  data/notebook/sentiment_analysis/sa_naive_bayes_pyspark.ipynb
  data/notebook/sentiment_analysis/sa_random_forest_pyspark.ipynb
  data/notebook/sentiment_analysis/sa_svm_pyspark.ipynb
  data/notebook/sentiment_analysis/test_sa_lr_pyspark_preprocessing.py
  data/notebook/sentiment_analysis/test_sa_lr_pyspark_training.py
  data/notebook/spam_detector/sp_ model_L_R.ipynb
  data/notebook/spam_detector/sp_lr_sklearn_main_test.py
  data/notebook/spam_detector/sp_lr_sklearn_preprocessing_test.py
  data/notebook/spam_detector/sp_lr_sklearn_training_test.py
  data/notebook/spam_detector/sp_modelo_naive_bayes.ipynb
  data/notebook/spam_detector/sp_preprocesing.ipynb
  data/notebook/spam_detector/sp_random_forest_knn.ipynb
  data/notebook/spam_detector/tempCodeRunnerFile.py
  data/notebook/test_raw_.py
  data/pg_bd/BI/migration/readme.txt
  data/pg_bd/BI/script/readme.txt
  data/pg_bd/BI/stores_procedures/readme.txt
  data/pg_bd/test_SQLServer/coneccion.go
  data/pg_bd/test_SQLServer/steps.md
  data/postgresql_bd/connection details/conexion.py
Labels: data

#836 DATA_Preparation_and_Export_of_the_Spam_Detector_Model_for_Azure_ML
  data/notebook/spam_detector/logistic_regression_model.pkl
  data/notebook/spam_detector/naive_bayes_model.pkl
  data/notebook/spam_detector/sp_model_sklearm.py
  data/notebook/spam_detector/tempCodeRunnerFile.py
  data/notebook/spam_detector/tfidf_vectorizer.pkl
  data/training/sp_lr_sklearn_training.py
Labels: data

#838 DATA_Provision_and_Configure_Azure_ML_Environment_for_Spam_Detector
  data/notebook/spam_detector/Implementation_of_Azure_functionalities_for_Machine_Learning.py
  data/notebook/spam_detector/config_azure.json
  data/notebook/spam_detector/sp_model_sklearm.py
Labels: data

#847 DATA_Uploading_Trained_Spam_Detection_Model_to_Azure_ML
  data/notebook/spam_detector/Implementation_of_Azure_functionalities_for_Machine_Learning.py
  data/notebook/spam_detector/Uploading Trained Spam Detection Model to Azure ML.py
  data/notebook/spam_detector/config_azure.json
Labels: data

#835 fe_modal_report_publication
  frontend/src/app/test/page.tsx
  frontend/src/components/index.tsx
  frontend/src/components/molecules/ReportPublication/index.scss
  frontend/src/components/molecules/ReportPublication/index.tsx
Labels: frontend

#833 FE_fix_details_user_image
  frontend/src/app/test/page.tsx
  frontend/src/components/molecules/DetailsImage/detailImage.test.tsx
  frontend/src/components/molecules/DetailsImage/index.scss
  frontend/src/components/molecules/DetailsImage/index.tsx
Labels: frontend

#850 Add test comment molecule component
  frontend/src/components/molecules/Comment/comment.tsx
  frontend/src/test/components/molecules/Comment.test.tsx
Labels: frontend

#831 feat: publication confirm modal
  frontend/src/app/test/page.tsx
  frontend/src/components/index.tsx
  frontend/src/components/molecules/Comment/Comment.test.tsx
  frontend/src/components/molecules/PublicationConfirm/index.scss
  frontend/src/components/molecules/PublicationConfirm/index.tsx
  frontend/src/components/molecules/UserChatCTA/index.scss
  frontend/src/components/organisms/RightBar/RightBar.tsx
  frontend/src/test/components/molecules/Comment.test.tsx
Labels: frontend

#866 DATA_BI_DataFactory
  data/postgresql_bd/store procedure/bi.process_bi_postclassification.sql
  data/postgresql_bd/store procedure/bi.process_bi_sentimental.sql
  data/postgresql_bd/store procedure/bi.process_bi_spam.sql
Labels: data

#874 [Data] feat: cloud deployed ML service for SA
  data/cloud_platform/sentiment_analysis/.dockerignore
  data/cloud_platform/sentiment_analysis/.gitignore
  data/cloud_platform/sentiment_analysis/Dockerfile
  data/cloud_platform/sentiment_analysis/main.py
  data/cloud_platform/sentiment_analysis/preprocessing.py
  data/cloud_platform/sentiment_analysis/requirements.txt
  data/cloud_platform/sentiment_analysis/storage.py
  data/notebook/sentiment_analysis/sa_endpoint_firebase_storage.ipynb
  data/test/sa_test_preprocessing.py
  data/test/sa_test_storage.py
Labels: enhancement, data, test

#875 [Data] fix: test sa storage
  data/test/sa_test_storage.py
Labels: data

#876 [DATA] Azure instance management and creation conventions
  data/README.md
  data/cloud_mldeployment/sentiment_analysis/.dockerignore
  data/cloud_mldeployment/sentiment_analysis/.gitignore
  data/cloud_mldeployment/sentiment_analysis/Dockerfile
  data/cloud_mldeployment/sentiment_analysis/main.py
  data/cloud_mldeployment/sentiment_analysis/preprocessing.py
  data/cloud_mldeployment/sentiment_analysis/requirements.txt
  data/cloud_mldeployment/sentiment_analysis/storage.py
  data/cloud_platform/GoogleDrive.py
  data/cloud_platform/QuickStart.py
  data/cloud_platform/settings.yaml
  data/database_management/connection_details/conexion.py
  data/database_management/store_procedure/bi.process_bi_postclassification.sql
  data/database_management/store_procedure/bi.process_bi_sentimental.sql
  data/database_management/store_procedure/bi.process_bi_spam.sql
  data/raw/__init__.py
  data/raw/raw_collection.py
  data/test/mldeployment/__init__.py
  data/test/mldeployment/pc_lr_main.py
  data/test/mldeployment/sa_lr_pyspark_main.py
  data/test/mldeployment/sp_lr_sklearn_main.py
  data/test/preprocessing/__init__.py
  data/test/preprocessing/pc_lr_preprocessing.py
  data/test/preprocessing/sa_lr_pyspark_preprocessing.py
  data/test/preprocessing/sp_lr_sklearn_preprocessing.py
  data/test/training/__init__.py
  data/test/training/pc_lr_training.py
  data/test/training/sa_lr_pyspark_training.py
  data/test/training/sp_lr_sklearn_training.py
Labels: documentation, data

#882 [DATA] role management documentation and creation of IaC folder
  data/IaC/management_resource/readme.txt
  data/IaC/management_user/readme.txt
  data/README.md
Labels: documentation, data

#807 [M] Unit Testing ValidateUser use case
  android/app/src/test/java/com/social/domain/usecase/ValidateUserTest.kt
Labels: mobile, test

#887 [M] feat: User entity created for local database using Room
  android/app/src/main/java/com/social/data/repository/SocialAppRepositoryImp.kt
  android/app/src/main/java/com/social/data/source/local/SocialDAO.kt
  android/app/src/main/java/com/social/data/source/local/SocialDB.kt
  android/app/src/main/java/com/social/data/source/local/UserEntity.kt
  android/app/src/main/java/com/social/di/ApiSocialApp.kt
  android/app/src/main/java/com/social/domain/SocialAppRepository.kt
  android/app/src/main/java/com/social/domain/model/UserM.kt
Labels: mobile

#891 [DATA] feat: Post-tag export and model enhancement
  data/test/mldeployment/pc_lr_main.py
  data/test/pc_test.py
  data/test/preprocessing/pc_lr_preprocessing.py
  data/test/training/pc_lr_training.py
Labels: data

#894 [Data] refactor: Enhancing Storage in Azure for SA
  data/cloud_mldeployment/sentiment_analysis/main.py
  data/cloud_mldeployment/sentiment_analysis/requirements.txt
  data/cloud_mldeployment/sentiment_analysis/storage.py
  data/test/sa_test_storage.py
Labels: enhancement, data, test, dependencies

#888 [DATA] Configuring IaC for GroupResource, Groups and Users
  data/IaC/instructions.txt
  data/IaC/management_resource/readme.txt
  data/IaC/management_resource/resource_group/main.tf
  data/IaC/management_resource/resource_group/variables.tf
  data/IaC/management_user/main.tf
  data/IaC/management_user/readme.txt
  data/IaC/management_user/variables.tf
Labels: data

#709 [BE] Centralize Environment Variable Loading at Application Startup
  backend/cmd/server.go
  backend/internal/login/application/loginUseCase.go
  backend/pkg/utils/config.go
Labels: backend

#889 [BE] Integration of TokenValidator Middleware for Enhanced App Security
  backend/internal/router/router.go
  backend/internal/router/router_test.go
Labels: backend

#900 [M] screen new post
  android/app/src/google-services.json
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/social/presentation/home/NewPostFragment.kt
  android/app/src/main/java/com/social/presentation/profile/UserProfileFragment.kt
  android/app/src/main/res/drawable/icon_caret_down.xml
  android/app/src/main/res/drawable/icon_clear.xml
  android/app/src/main/res/drawable/icon_gif.xml
  android/app/src/main/res/drawable/icon_image.xml
  android/app/src/main/res/drawable/icon_location.xml
  android/app/src/main/res/drawable/icon_location_point.xml
  android/app/src/main/res/drawable/icon_video.xml
  android/app/src/main/res/layout/fragment_new_post.xml
  android/app/src/main/res/layout/fragment_user_profile.xml
  android/app/src/main/res/navigation/navigation.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: mobile

#880 [BE] refactor chat
  backend/cmd/server.go
  backend/internal/chat/domain/client.go
  backend/internal/chat/domain/hub.go
  backend/internal/chat/infraestructure/wsHandler.go
  backend/internal/chat/router.go
  backend/internal/chat/test/client_test.go
  backend/internal/chat/test/hub_test.go
  backend/internal/chat/test/wsHandler_test.go
  backend/internal/router/router.go
Labels: backend

#862 Implementation_of_the_Inference_Script_for_the_Spam Detector
  data/notebook/spam_detector/sp_sklearn_inference.py
  data/notebook/spam_detector/test_sp_skearn_inference.py
Labels: data

#908 [DATA] Add sql_server azure db connection
  .gitignore
  data/database_management/connection_details/conexion_sql.py
  data/test/connection_sql_test.py
Labels: data

#911 Data api migration
  data/API/Test/conection.py
Labels: data

#913 [BE] Implement Common Followers Database Function
  backend/migrations/0000000023_create_fn_get_common_followers.down.sql
  backend/migrations/0000000023_create_fn_get_common_followers.up.sql
Labels: backend

#909 [M] attach photos new post
  android/app/src/main/java/com/social/presentation/home/NewPostFragment.kt
  android/app/src/main/res/layout/fragment_new_post.xml
  android/app/src/main/res/values/strings.xml
Labels: mobile

#915 [M] capture location
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/social/presentation/home/NewPostFragment.kt
  android/app/src/main/res/layout/fragment_new_post.xml
Labels: mobile

#920 [BE] feat: Implement Edit Post Component
  backend/internal/post/application/postUseCase.go
  backend/internal/post/domain/model.go
  backend/internal/post/infrastructure/postHandler.go
  backend/internal/post/infrastructure/postHandler_test.go
  backend/internal/post/infrastructure/postRepository.go
  backend/internal/post/router.go
Labels: backend

#898 [FE] (Test): Circle Image Component
  frontend/src/components/atoms/CircleImage/CircleImage.test.tsx
  frontend/src/components/atoms/CircleImage/circleImage.tsx
  frontend/src/components/atoms/Link/Link.test.tsx
  frontend/src/components/atoms/TopicFollow/TopicFollow.test.tsx
Labels: frontend, test

#873 [FE] (Test): Link Component
  frontend/src/components/atoms/Link/Link.test.tsx
Labels: frontend, test

#683 [BE] feat: Implement checking profile follows another profile
  backend/internal/follow/application/followUseCase.go
  backend/internal/follow/application/followUseCase_test.go
  backend/internal/follow/domain/follower.go
  backend/internal/follow/infrastructure/followHandler.go
  backend/internal/follow/infrastructure/followRepository.go
  backend/internal/follow/router.go
Labels: backend

#871 [FE] Function: Create function limit input post
  frontend/src/app/intranet/profile/index.scss
  frontend/src/app/intranet/profile/page.tsx
  frontend/src/test/function.test.tsx
  frontend/src/utilities/Functions.tsx
Labels: frontend, test

#868 [FE] Function: Filter content tag
  frontend/src/test/function.test.tsx
  frontend/src/utilities/Functions.tsx
Labels: frontend, test

#924 [M] incorporate social links
  android/app/src/main/java/com/social/presentation/profile/EditProfileFragment.kt
  android/app/src/main/res/drawable/icon_plus.png
  android/app/src/main/res/drawable/style_border_5dp.xml
  android/app/src/main/res/layout/fragment_edit_profile.xml
  android/app/src/main/res/layout/item_social_link_layout.xml
  android/app/src/main/res/navigation/navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: frontend, mobile

#865 [FE] Function: Generation of Unique User Names
  frontend/src/test/function.test.tsx
  frontend/src/utilities/Functions.tsx
Labels: frontend, test

#864 add test for publicationConfirm molecule component
  frontend/src/components/molecules/PublicationConfirm/PublicationConfirm.test.tsx
  frontend/src/components/molecules/PublicationConfirm/index.tsx
Labels: frontend

#844 Add test for component atom CircleIcon
  frontend/src/components/atoms/CircleIcon/circleIcon.tsx
  frontend/src/test/components/atoms/CircleIcon.test.tsx
Labels: frontend

#842 Add test for componente atom cardFollow
  frontend/src/test/components/atoms/CardFollow.test.tsx
Labels: frontend

#813 [FE] feat (profile): create add social networks button
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/SelectText/index.scss
  frontend/src/components/atoms/SelectText/selectText.test.tsx
  frontend/src/components/atoms/SelectText/selectText.tsx
  frontend/src/components/index.tsx
Labels: frontend

#928 [BE] Implement Get Followers Database Function
  backend/migrations/0000000024_create_fn_get_profile_followers.down.sql
  backend/migrations/0000000024_create_fn_get_profile_followers.up.sql
Labels: backend

#916 [BE] Add 'is_deleted' Column to 'SOC_APP_POSTS' for Logical Deletion Management
  backend/migrations/0000000024_alter_posts_table.down.sql
  backend/migrations/0000000024_alter_posts_table.up.sql
Labels: backend

#942 [QA] Update QA Folder Structure and Environment Configuration - Part 1
  QA/test_development/QA_Develop_Environment.postman_environment.json
Labels: QA

#943 [QA] Update QA Folder Structure and Environment Configuration - Part 2
  QA/test_production/QA_Production_Environment.postman_environment.json
Labels: QA

#944 [QA] Test for Successful Registration
  QA/test_development/Registro.postman_collection.json
Labels: QA

#946 [QA] Test for Successful Login
  QA/test_development/Login.postman_collection.json
Labels: QA

#964 [BE] Implementation of soc_app_post_reports Table for Post Reporting Mechanism
  backend/migrations/0000000026_create_post_reports_table.down.sql
  backend/migrations/0000000026_create_post_reports_table.up.sql
Labels: backend

#966 [M] session persistence
  android/app/src/main/java/com/social/MainActivity.kt
  android/app/src/main/java/com/social/presentation/profile/UserProfileFragment.kt
Labels: mobile

#941 [BE] Implement View Common Followers API
  backend/internal/follow/application/followUseCase.go
  backend/internal/follow/application/followUseCase_test.go
  backend/internal/follow/domain/follower.go
  backend/internal/follow/domain/follower_test.go
  backend/internal/follow/infrastructure/followHandler.go
  backend/internal/follow/infrastructure/followRepository.go
  backend/internal/follow/router.go
Labels: backend

#968 [M] replace fragment
  android/app/src/main/java/com/social/EmptyActivity.kt
  android/app/src/main/java/com/social/presentation/home/HomeFragment.kt
  android/app/src/main/java/com/social/presentation/home/NewPostFragment.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ChatScreenFragment.kt
  android/app/src/main/java/com/social/presentation/profile/EditProfileFragment.kt
  android/app/src/main/java/com/social/presentation/profile/SettingProfileFragment.kt
  android/app/src/main/java/com/social/presentation/profile/UserProfileFragment.kt
  android/app/src/main/java/com/social/utils/FragmentUtils.kt
  android/app/src/main/res/layout/activity_empty.xml
  android/app/src/main/res/layout/fragment_setting_profile.xml
  android/app/src/main/res/navigation/navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: mobile

#828 [DEVOPS] Implement frontend terraform pipeline
  .github/workflows/frontend-tf.yaml
  .github/workflows/manual-frontend-tf.yaml
Labels: devops

#829 [DEVOPS] Configure GCP as IAC in Terraform for frontend
  infra/frontend/README.md
  infra/frontend/dev.tfvars
  infra/frontend/main.tf
  infra/frontend/providers.tf
  infra/frontend/test.txt
  infra/frontend/variables.tf
Labels: devops

#978 [Fe]_Tag_Test_router_link_path
  frontend/src/components/atoms/Tag/tag.test.tsx
Labels: frontend

#931 [BE] Implement Get Profile Interest Database Function
  backend/migrations/0000000028_create_fn_get_profile_interest.down.sql
  backend/migrations/0000000028_create_fn_get_profile_interest.up.sql
Labels: backend

#948 Fe feat (router link) : add link router in page
  frontend/src/app/auth/login/page.tsx
  frontend/src/components/atoms/Tag/tag.test.tsx
  frontend/src/components/atoms/Tag/tag.tsx
  frontend/src/components/organisms/SideBar/SideBar.tsx
Labels: frontend

#979 [BE] feat: View Profile Followers
  backend/internal/follow/application/followUseCase.go
  backend/internal/follow/application/followUseCase_test.go
  backend/internal/follow/infrastructure/followHandler.go
  backend/internal/follow/infrastructure/followRepository.go
  backend/internal/follow/router.go
  backend/migrations/0000000027_create_seg_profile_search_by_name_table.up.sql
Labels: backend

#985 [DATA] feat: Creating Stored Procedures SQL server
  data/bussines_analytics/data_transformation/stores_procedures/bi.process_bi_sentimental.sql
  data/bussines_analytics/data_transformation/stores_procedures/process_bi_post.sql
  data/bussines_analytics/data_transformation/stores_procedures/process_bi_sentimental.sql
  data/bussines_analytics/data_transformation/stores_procedures/process_bi_spam.sql
Labels: data

#994 [Data] fix: SA add environment variable in main
  data/cloud_mldeployment/sentiment_analysis/main.py
Labels: data
