Repository unmsmfisi-socialapplication/social_app, pull requests merged in 2023-09, with the labels that each got.

#133 [DEVOPS] Adding CI pipeline for Backend
  .github/workflows/backend-ci.yml
Labels: devops

#99 [DEVOPS] Add pipeline CI for frontend
  .github/workflows/frontend_ci.yaml
Labels: devops

#87 [DEVOPS #18] Add CI pipeline for mobile
  .github/workflows/mobile_ci.yaml
Labels: devops

#77 [DEVOPS #10] Add CI pipeline for data
  .github/workflows/data_ci.yaml
Labels: devops

#149 [FE] feature(config) : initial config structure
  frontend/.gitignore
  frontend/README.md
  frontend/next.config.js
  frontend/package.json
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/resources/fonts/Poppins-Black.ttf
  frontend/resources/fonts/Poppins-BlackItalic.ttf
  frontend/resources/fonts/Poppins-Bold.ttf
  frontend/resources/fonts/Poppins-BoldItalic.ttf
  frontend/resources/fonts/Poppins-ExtraBold.ttf
  frontend/resources/fonts/Poppins-ExtraBoldItalic.ttf
  frontend/resources/fonts/Poppins-ExtraLight.ttf
  frontend/resources/fonts/Poppins-ExtraLightItalic.ttf
  frontend/resources/fonts/Poppins-Italic.ttf
  frontend/resources/fonts/Poppins-Light.ttf
  frontend/resources/fonts/Poppins-LightItalic.ttf
  frontend/resources/fonts/Poppins-Medium.ttf
  frontend/resources/fonts/Poppins-MediumItalic.ttf
  frontend/resources/fonts/Poppins-Regular.ttf
  frontend/resources/fonts/Poppins-SemiBold.ttf
  frontend/resources/styles/font.css
  frontend/resources/styles/variables.scss
  frontend/src/app/globals.scss
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/test/page.tsx
  frontend/src/components/index.tsx
  frontend/src/data/api/api.tsx
  frontend/src/data/entities/Error.tsx
  frontend/src/utilities/Contant.tsx
  frontend/src/utilities/Functions.tsx
  frontend/tsconfig.json
Labels: frontend

#170 [Fe] featture(component) : button
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Button/button.tsx
  frontend/src/components/atoms/Button/index.scss
  frontend/src/components/index.tsx
Labels: frontend

#184 [FE] feature fonts
  frontend/resources/fonts/Poppins-SemiBoldItalic.ttf
  frontend/resources/styles/font.css
  frontend/resources/styles/variables.scss
Labels: frontend

#183 Fe feat design background
  frontend/public/images/background.jpg
  frontend/src/app/Enrollment.tsx
Labels: frontend

#176 [FE] featture(Component): Input
  frontend/package.json
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Input/input.tsx
  frontend/src/components/index.tsx
Labels: frontend

#182 [FE]: Implementation of component: box input
  frontend/next.config.js
  frontend/package.json
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Input/input.tsx
  frontend/src/test/sample.test.js
Labels: frontend

#201 Fe(fix): new Design figma y create loginTemplate
  frontend/next.config.js
  frontend/public/images/background.jpg
  frontend/public/images/enrollment.png
  frontend/resources/styles/variables.scss
  frontend/src/app/Enrollment.tsx
  frontend/src/app/auth/auth.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/globals.scss
  frontend/src/app/page.tsx
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Button/index.scss
  frontend/src/components/atoms/Input/input.tsx
Labels: frontend

#206 Fe feat (card auth) : orgnism component
  frontend/src/app/Enrollment.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/components/index.tsx
  frontend/src/components/organisms/CardAuth.tsx
Labels: frontend

#175 [Fe] featture(component) : circle_icon
  frontend/src/app/page.tsx
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/CircleIcon/circleIcon.tsx
  frontend/src/components/atoms/CircleIcon/index.scss
  frontend/src/components/index.tsx
Labels: frontend

#192 Fix data CI
  .github/workflows/data_ci.yaml
Labels: devops

#212 Fe feat [moelucles] : verification code
  frontend/src/components/atoms/InputCode/inputCode.tsx
  frontend/src/components/index.tsx
  frontend/src/components/molecules/VerificationCode/verificationCode.tsx
Labels: frontend

#218 FE fix(button): style scss
  frontend/src/components/atoms/Button/button.tsx
  frontend/src/components/atoms/Button/index.scss
Labels: frontend

#217 [FE] style add style disabled button
  frontend/.gitignore
  frontend/resources/styles/variables.scss
  frontend/src/app/auth/auth.tsx
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Button/button.tsx
  frontend/src/components/atoms/Button/index.scss
Labels: frontend

#226 [DEVOPS] Fix mobile ci
  .github/workflows/mobile_ci.yaml
Labels: devops

#211 [FE] featture(Component): Input Validation
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Input/input.tsx
Labels: frontend

#227 [FE] feat: Register page
  frontend/src/app/auth/register/page.tsx
  frontend/src/components/organisms/CardAuth.tsx
Labels: frontend

#76 [BE] feat: Implement user authentication and error handling
  backend/config.go
  backend/go.mod
  backend/go.sum
  backend/internal/login/application/loginUseCase.go
  backend/internal/login/domain/model.go
  backend/internal/login/infrastructure/loginHandler.go
  backend/internal/login/infrastructure/loginRepository.go
  backend/internal/login/test/loginHandler_test.go
  backend/internal/router.go
  backend/pkg/database/database.go
  backend/pkg/utils/utils.go
  backend/vendor/github.com/lib/pq/.gitignore
  backend/vendor/github.com/lib/pq/LICENSE.md
  backend/vendor/github.com/lib/pq/README.md
  backend/vendor/github.com/lib/pq/TESTS.md
  backend/vendor/github.com/lib/pq/array.go
  backend/vendor/github.com/lib/pq/buf.go
  backend/vendor/github.com/lib/pq/conn.go
  backend/vendor/github.com/lib/pq/conn_go115.go
  backend/vendor/github.com/lib/pq/conn_go18.go
  backend/vendor/github.com/lib/pq/connector.go
  backend/vendor/github.com/lib/pq/copy.go
  backend/vendor/github.com/lib/pq/doc.go
  backend/vendor/github.com/lib/pq/encode.go
  backend/vendor/github.com/lib/pq/error.go
  backend/vendor/github.com/lib/pq/krb.go
  backend/vendor/github.com/lib/pq/notice.go
  backend/vendor/github.com/lib/pq/notify.go
  backend/vendor/github.com/lib/pq/oid/doc.go
  backend/vendor/github.com/lib/pq/oid/types.go
  backend/vendor/github.com/lib/pq/rows.go
  backend/vendor/github.com/lib/pq/scram/scram.go
  backend/vendor/github.com/lib/pq/ssl.go
  backend/vendor/github.com/lib/pq/ssl_permissions.go
  backend/vendor/github.com/lib/pq/ssl_windows.go
  backend/vendor/github.com/lib/pq/url.go
  backend/vendor/github.com/lib/pq/user_other.go
  backend/vendor/github.com/lib/pq/user_posix.go
  backend/vendor/github.com/lib/pq/user_windows.go
  backend/vendor/github.com/lib/pq/uuid.go
  backend/vendor/golang.org/x/crypto/LICENSE
  backend/vendor/golang.org/x/crypto/PATENTS
  backend/vendor/golang.org/x/crypto/bcrypt/base64.go
  backend/vendor/golang.org/x/crypto/bcrypt/bcrypt.go
  backend/vendor/golang.org/x/crypto/blowfish/block.go
  backend/vendor/golang.org/x/crypto/blowfish/cipher.go
  backend/vendor/golang.org/x/crypto/blowfish/const.go
  backend/vendor/modules.txt
Labels: enhancement, backend

#225 create page login , done
  .github/workflows/mobile_ci.yaml
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/components/atoms/Link/link.tsx
  frontend/src/components/index.tsx
  frontend/src/components/molecules/VerificationCode/verificationCode.tsx
Labels: frontend

#240 [DEVOPS] Fix mobile ci
  .github/workflows/mobile_ci.yaml
Labels: devops

#241 [DEVOPS] Improving mobile ci
  .github/workflows/mobile_ci.yaml
Labels: devops

#248 [DEVOPS] fix mobile ci
  .github/workflows/mobile_ci.yaml
Labels: devops

#249 Fe add validation email
  frontend/src/test/validation.test.tsx
  frontend/src/utilities/Constant.tsx
  frontend/src/utilities/Validation.tsx
Labels: frontend

#135 [QA] Define a contract for registration
  QA/contracts/contract_registration.json
Labels: QA

#143 [QA] profile import json contract
  QA/contracts/contract_profile_import.json
Labels: QA

#251 add validate password test
  frontend/src/test/validation.test.tsx
  frontend/src/utilities/Constant.tsx
  frontend/src/utilities/Validation.tsx
Labels: frontend

#134 [QA] Define a contract for profile creation
  QA/contracts/contract_create_profile.json
Labels: QA

#253 fix:validation_test_file
  frontend/src/test/validation.test.tsx
Labels: frontend

#252 Feat(component):tag component
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Tag/index.scss
  frontend/src/components/atoms/Tag/tag.tsx
  frontend/src/components/index.tsx
Labels: frontend

#145 [QA] contract for post creation
  QA/contracts/contract_post_creation.json
Labels: QA

#161 [DATA] feat: Preprocessing of comments
  data/spam_detector/Testing/sp_preprocesing.ipynb
Labels: data

#154 [DATA] feat: Add Random Forest and KNN for spam detector
  data/post_classification/Testing/README.md
  data/sentiment_analysis/Testing/README.md
  data/spam_detector/Testing/README.md
  data/spam_detector/Testing/sp_random_forest_knn.ipynb
Labels: data

#160 [DATA] feat: add tokenize text with bert
  data/post_classificationTesting/Readme.md
  data/post_classificationTesting/nlp_bert_transformers.ipynb
  data/sentiment_analysisTesting/Readme.md
  data/spam_detectorTesting/Readme.md
Labels: data

#153 [DATA] feat: Add sentiment analysis with Pyspark
  data/sentimend_analysis/Testing/sa_logistic_regression_pyspark.ipynb
  data/sentimend_analysis/Testing/sa_naive_bayes_pyspark.ipynb
  data/sentimend_analysis/Testing/sa_random_forest_pyspark.ipynb
  data/sentimend_analysis/Testing/sa_svm_pyspark.ipynb
Labels: data

#280 [DEVOPS] Adding CD pipeline for Backend
  .github/workflows/backend-cd.yaml
Labels: devops

#284 [DEVOPS] Fix Backend Dockerfile
  backend/Dockerfile
Labels: devops

#247 [M] onboarding slider
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/social/presentation/authentication/LoginFragment.kt
  android/app/src/main/java/com/social/presentation/onboarding/OnboardingFragment.kt
  android/app/src/main/java/com/social/presentation/onboarding/ViewPagerAdapter.kt
  android/app/src/main/res/drawable/connected_world.png
  android/app/src/main/res/drawable/logo.png
  android/app/src/main/res/drawable/online_friends.png
  android/app/src/main/res/drawable/online_world.png
  android/app/src/main/res/drawable/remote_meeting.png
  android/app/src/main/res/layout/fragment_onboarding.xml
  android/app/src/main/res/layout/slider_layout.xml
  android/app/src/main/res/navigation/navigation.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: frontend, mobile
