Repository unmsmfisi-socialapplication/social_app, pull requests merged in 2023-10, with the labels that each got.

#304 [DATA] feat: Creating script using PySpark
  .gitignore
  data/sentiment_analysis/Testing/Readme.md
  data/sentiment_analysis/Testing/sa_lr_pyspark_test.ipynb
  data/sentiment_analysis/sa_lr_pyspark.py
Labels: enhancement, data

#336 FE fix [ page register ] : connect page
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
Labels: frontend

#318 [Fe] featture(molecule) : avatar_input
  frontend/resources/styles/variables.scss
  frontend/src/app/test/page.tsx
  frontend/src/components/index.tsx
  frontend/src/components/molecules/AvatarInput/index.scss
  frontend/src/components/molecules/AvatarInput/index.tsx
Labels: frontend

#339 [FE] featture(Component): PasswordInput
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Input/input.tsx
Labels: frontend

#343 [M] Login endpoint integration
  android/app/src/main/java/com/social/data/repository/SocialAppRepositoryImp.kt
  android/app/src/main/java/com/social/data/source/remote/ApiInterface.kt
  android/app/src/main/java/com/social/data/source/remote/dto/LoginDto.kt
  android/app/src/main/java/com/social/di/ApiSocialApp.kt
  android/app/src/main/java/com/social/domain/SocialAppRepository.kt
  android/app/src/main/java/com/social/domain/imp.kt
  android/app/src/main/java/com/social/domain/model/Login.kt
  android/app/src/main/java/com/social/domain/model/LoginBody.kt
  android/app/src/main/java/com/social/domain/model/LoginUserData.kt
  android/app/src/main/java/com/social/domain/use_case/ValidateUser.kt
  android/app/src/main/java/com/social/utils/Resource.kt
Labels: mobile

#352 [FE] featture(Component): ButtonPost
  frontend/src/components/atoms/ButtonPost/ButtonPost.tsx
  frontend/src/components/atoms/ButtonPost/index.scss
  frontend/src/components/index.tsx
Labels: frontend

#268 [FE] featture(Component): ButtonPost
  frontend/package.json
  frontend/src/components/atoms/ButtonPost/ButtonPost.tsx
  frontend/src/components/atoms/ButtonPost/index.scss
  frontend/src/components/index.tsx
Labels: frontend

#282 [FE] featture(Component): ButtonChanged
  frontend/package.json
  frontend/src/components/atoms/ButtonPost/ButtonPost.tsx
  frontend/src/components/atoms/ButtonPost/index.scss
  frontend/src/components/index.tsx
Labels: frontend

#354 [M] chat list user
  android/app/build.gradle.kts
  android/app/src/main/java/com/social/domain/model/ChatUserData.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ListChatsFragment.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/UserAdapter.kt
  android/app/src/main/res/drawable/bottom_radius_style.xml
  android/app/src/main/res/drawable/defaul_user_profile.xml
  android/app/src/main/res/drawable/icon_bar.xml
  android/app/src/main/res/drawable/icon_chat_bubble.png
  android/app/src/main/res/drawable/icon_gear.png
  android/app/src/main/res/drawable/icon_search.png
  android/app/src/main/res/drawable/icon_users.png
  android/app/src/main/res/drawable/round_style.xml
  android/app/src/main/res/drawable/top_radius_style.xml
  android/app/src/main/res/font/righteous.ttf
  android/app/src/main/res/layout/conteiner_user_chat.xml
  android/app/src/main/res/layout/fragment_list_chat.xml
  android/app/src/main/res/navigation/navigation.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: frontend, mobile

#360 [M] chat screen
  android/app/src/main/java/com/social/domain/model/ChatMessageUser.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ChatAdapter.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ChatScreenFragment.kt
  android/app/src/main/res/drawable/background_received_message.xml
  android/app/src/main/res/drawable/background_send_message.xml
  android/app/src/main/res/drawable/icon_arrow_back.xml
  android/app/src/main/res/drawable/icon_camera.xml
  android/app/src/main/res/drawable/icon_face.xml
  android/app/src/main/res/drawable/icon_microphone.xml
  android/app/src/main/res/drawable/icon_phone.xml
  android/app/src/main/res/drawable/icon_send_message.xml
  android/app/src/main/res/drawable/icon_video_camera.xml
  android/app/src/main/res/layout/container_received_message.xml
  android/app/src/main/res/layout/container_send_message.xml
  android/app/src/main/res/layout/fragment_chat_screen.xml
  android/app/src/main/res/navigation/navigation.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: frontend, mobile

#363 [M] add endpoint integration create post
  android/app/src/main/java/com/social/data/repository/SocialAppRepositoryImp.kt
  android/app/src/main/java/com/social/data/source/remote/ApiInterface.kt
  android/app/src/main/java/com/social/data/source/remote/dto/CreatePostDto.kt
  android/app/src/main/java/com/social/di/ApiSocialApp.kt
  android/app/src/main/java/com/social/domain/SocialAppRepository.kt
  android/app/src/main/java/com/social/domain/model/CreatePost.kt
  android/app/src/main/java/com/social/domain/model/CreatePostBody.kt
  android/app/src/main/java/com/social/domain/model/CreatePostResponse.kt
  android/app/src/main/java/com/social/domain/use_case/ValidateCreatePost.kt
Labels: mobile

#364 [M] State events and Viewmodel Login added
  android/app/src/main/java/com/social/presentation/authentication/LoginDataState.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginEvent.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginViewModel.kt
  android/app/src/main/java/com/social/presentation/authentication/TextState.kt
Labels: mobile

#370 fix (label) : change email by email or user
  frontend/src/app/auth/login/page.tsx
Labels: frontend

#374 [M] junit test chat list user
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/ChatUserDataTest.kt
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/UsersAdapterTest.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/UserAdapter.kt
Labels: documentation, frontend, mobile

#382 [M] junit test chat screen
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/ChatAdapterTest.kt
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/ChatMessageUserTest.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ChatAdapter.kt
Labels: documentation, frontend, mobile

#380 [M] test validaciones generatecode
  android/app/src/androidTest/java/com/social/utilsTest/CodeGeneratorTest.kt
  android/app/src/androidTest/java/com/social/utilsTest/ValidationTest.kt
  android/app/src/main/java/com/social/utils/Validation.kt
Labels: mobile, test

#303 [BE] set enviroment variables
  backend/.env.example
  backend/.gitignore
  backend/README.md
  backend/config.go
  backend/pkg/database/database.go
  backend/test/config_test.go
Labels: backend

#300 [BE] Docs: Add docker-compose (backend) documentation
  backend/README.md
Labels: documentation

#333 Fe add comment molecule
  frontend/src/components/atoms/CircleIcon/circleIcon.tsx
  frontend/src/components/atoms/CircleIcon/index.scss
  frontend/src/components/molecules/Comment/comment.tsx
  frontend/src/components/molecules/Comment/index.scss
Labels: frontend

#350 [FE] Feat thinking comment
  frontend/package.json
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Button/button.tsx
  frontend/src/components/atoms/Button/index.scss
  frontend/src/components/atoms/CircleImage/circleImage.tsx
  frontend/src/components/atoms/CircleImage/index.scss
  frontend/src/components/index.tsx
  frontend/src/components/molecules/CommentThink/index.scss
  frontend/src/components/molecules/CommentThink/index.tsx
Labels: frontend

#348 [FE] feat: molecule: custom modal
  frontend/resources/styles/variables.scss
  frontend/src/app/globals.scss
  frontend/src/app/test/page.tsx
  frontend/src/components/index.tsx
  frontend/src/components/molecules/modalPhoto/index.tsx
Labels: frontend

#338 [BE] feat: Implement Email Sender component
  backend/internal/email_sender/application/emailSenderUseCase.go
  backend/internal/email_sender/domain/email.go
  backend/internal/email_sender/infrastructure/emailSenderHandler.go
  backend/internal/email_sender/infrastructure/emailSenderRepository.go
  backend/internal/email_sender/router.go
  backend/internal/email_sender/test/application/emailSenderUseCase_test.go
  backend/internal/email_sender/test/domain/email_test.go
  backend/internal/email_sender/test/infrastructure/emailSenderHandler_test.go
  backend/internal/email_sender/test/infrastructure/emailSenderRepository_test.go
  backend/internal/router.go
Labels: backend

#399 FE_Feat_StylesButton
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/Button/button.tsx
  frontend/src/components/atoms/Button/index.scss
Labels: frontend

#341 I have created the 'validatePassword' function
  frontend/src/test/function.test.tsx
  frontend/src/utilities/Constant.tsx
  frontend/src/utilities/Functions.tsx
Labels: frontend

#392 [FE] feat ( atom ) : icon & spam
  frontend/src/components/atoms/IconSpam/Icon.tsx
  frontend/src/components/atoms/IconSpam/index.scss
Labels: frontend

#369 [DATA] Post Classifier - Create script for post classification
  data/post_classification/Testing/Librerias.txt
  data/post_classification/Testing/beto_pulibacion_y_respuestas.py
Labels: data

#358 [DATA]: add a google drive conection
  data/cloud_platorm/QuickStart.py
  data/cloud_platorm/gp_login.py
Labels: data

#351 [DATA] feat: add code upload file
  data/cloud_platorm/GoogleDrive.py
Labels: data

#356 [DATA] feat: File search and download
  data/cloud_platorm/GoogleDrive-DS.py
Labels: data

#319 [DATA] feat: Added Google Drive API credentials
  data/.env.local
  data/.gitignore
  data/README.md
  data/cloud_platorm/README.md
  data/cloud_platorm/client_secrets.json
  data/models_testing/sentiment_analysis/Testing/README.md
  data/models_testing/spam_detector/Testing/README.md
Labels: data

#329 [DATA] Spam detection - Create script model using Logistic Regression
  data/models_testing/spam_detector/sp_Create_script_model_Logistic_Regression.py
Labels: data

#407 FE_StylesInput
  frontend/src/app/auth/register/page.tsx
Labels: frontend

#395 [DEVOPS] Upload FE Dockerfile
  Dockerfile
Labels: devops

#430 [DEVOPS] Setup Frontend CD pipeline
  .github/workflows/frontend-cd.yaml
Labels: devops

#433 [DEVOPS] Modifying backend deployment pipeline
  .github/workflows/backend-cd.yaml
Labels: devops

#425 [BE] Implement database migrations
  backend/.env.example
  backend/README.md
  backend/cmd/migrations/migrations.go
  backend/go.mod
  backend/go.sum
  backend/migrations/0000000001_create_users_table.down.sql
  backend/migrations/0000000001_create_users_table.up.sql
  backend/migrations/0000000002_create_profiles_table.down.sql
  backend/migrations/0000000002_create_profiles_table.up.sql
  backend/migrations/0000000003_create_friends_table.down.sql
  backend/migrations/0000000003_create_friends_table.up.sql
  backend/migrations/0000000004_create_posts_table.down.sql
  backend/migrations/0000000004_create_posts_table.up.sql
  backend/migrations/0000000005_create_m_users_reaction_table.down.sql
  backend/migrations/0000000005_create_m_users_reaction_table.up.sql
  backend/migrations/0000000006_create_reactions_table.down.sql
  backend/migrations/0000000006_create_reactions_table.up.sql
  backend/pkg/database/database.go
  backend/pkg/utils/config.go
  backend/test/config_test.go
Labels: backend

#426 Fe validate register use yup
  frontend/src/app/auth/register/constant.tsx
Labels: frontend

#414 [FE] Create Button Square
  frontend/package.json
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/ButtonSquare/ButtonSquare.tsx
Labels: frontend

#436 fIX (schema login ) : replace message yuṕ
  frontend/src/app/auth/login/constant.tsx
  frontend/src/app/auth/login/page.tsx
Labels: frontend

#435 Update CD pipeline to run migrations
  .github/workflows/backend-cd.yaml
Labels: devops

#393 [DEVOPS] fix mobile ci
  .github/workflows/mobile_ci.yaml
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/social/ExampleInstrumentedTest.kt
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/ChatAdapterTest.kt
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/ChatMessageUserTest.kt
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/ChatUserDataTest.kt
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/UserAdapterTest.kt
  android/app/src/main/java/com/social/EmptyActivity.kt
  android/app/src/main/java/com/social/MainActivity.kt
  android/app/src/main/java/com/social/data/repository/SocialAppRepositoryImp.kt
  android/app/src/main/java/com/social/data/source/remote/ApiInterface.kt
  android/app/src/main/java/com/social/data/source/remote/dto/CreatePostDto.kt
  android/app/src/main/java/com/social/data/source/remote/dto/LoginDto.kt
  android/app/src/main/java/com/social/di/ApiSocialApp.kt
  android/app/src/main/java/com/social/domain/SocialAppRepository.kt
  android/app/src/main/java/com/social/domain/model/ChatMessageUser.kt
  android/app/src/main/java/com/social/domain/model/ChatUserData.kt
  android/app/src/main/java/com/social/domain/model/CreatePost.kt
  android/app/src/main/java/com/social/domain/model/CreatePostBody.kt
  android/app/src/main/java/com/social/domain/model/CreatePostResponse.kt
  android/app/src/main/java/com/social/domain/model/Login.kt
  android/app/src/main/java/com/social/domain/model/LoginBody.kt
  android/app/src/main/java/com/social/domain/model/LoginUserData.kt
  android/app/src/main/java/com/social/domain/use_case/ValidateCreatePost.kt
  android/app/src/main/java/com/social/domain/use_case/ValidateUser.kt
  android/app/src/main/java/com/social/domain/usecase/ValidateCreatePost.kt
  android/app/src/main/java/com/social/domain/usecase/ValidateUser.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginDataState.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginEvent.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginFragment.kt
  android/app/src/main/java/com/social/presentation/authentication/LoginViewModel.kt
  android/app/src/main/java/com/social/presentation/authentication/RegisterFragment.kt
  android/app/src/main/java/com/social/presentation/authentication/TextState.kt
  android/app/src/main/java/com/social/presentation/authentication/confirm/CodeConfirmationFragment.kt
  android/app/src/main/java/com/social/presentation/authentication/confirm/ConfirmationEmailFragment.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ChatAdapter.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ChatScreenFragment.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ListChatsFragment.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/UserAdapter.kt
  android/app/src/main/java/com/social/presentation/onboarding/OnboardingFragment.kt
  android/app/src/main/java/com/social/presentation/onboarding/ViewPagerAdapter.kt
  android/app/src/main/java/com/social/utils/CodeGenerator.kt
  android/app/src/main/java/com/social/utils/Resource.kt
  android/app/src/main/java/com/social/utils/Toast.kt
  android/app/src/main/java/com/social/utils/Validation.kt
  android/app/src/test/java/com/social/ExampleUnitTest.kt
  android/build.gradle.kts
  android/gradlew
  android/settings.gradle.kts
Labels: devops

#334 Be create post
  backend/internal/post/application/postUseCase.go
  backend/internal/post/domain/model.go
  backend/internal/post/infrastructure/postHandler.go
  backend/internal/post/infrastructure/postRepository.go
  backend/internal/post/router.go
  backend/internal/router.go
  backend/pkg/utils/utils.go
Labels: backend

#438 [DEVOPS] Fix instance name to connect to Cloud SQL Proxy
  .github/workflows/backend-cd.yaml
Labels: devops

#439 Empty commit to test backend CD pipeline
  backend/internal/router.go
Labels: devops

#429 [FE] Feat_Validation_Username
  frontend/.env.development
  frontend/src/app/auth/login/constant.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/test/validation.test.tsx
  frontend/src/utilities/Constant.tsx
  frontend/src/utilities/Validation.tsx
Labels: frontend

#443 [DEVOPS] Update backend cd pipeline with other previous job before deploy
  .github/workflows/backend-cd.yaml
Labels: devops

#445 [DEVOPS] Restructuring CD pipeline
  .github/workflows/backend-cd.yaml
Labels: devops

#446 [DEVOPS] Empty commit to test backend CD pipeline
  backend/internal/router.go
Labels: devops

#442 [DATA] refactor: Parameterize model variables
  data/models/sentiment_analysis/sa_lr_pyspark.py
  data/models_pg/sentiment_analysis/sa_lr_pyspark_test.ipynb
Labels: data

#355 [Frontend] feat: add WDetailsImage molecule
  frontend/src/app/test/page.tsx
  frontend/src/components/index.tsx
  frontend/src/components/molecules/DetailsImage/index.tsx
Labels: frontend

#485 [M] call user contacts
  android/app/src/main/res/drawable/icon_end_call.xml
  android/app/src/main/res/drawable/icon_speaker.xml
  android/app/src/main/res/drawable/round_style.xml
  android/app/src/main/res/layout/call_user.xml
  android/app/src/main/res/layout/conteiner_user_chat.xml
  android/app/src/main/res/values/strings.xml
Labels: frontend, mobile

#483 FE_test_input_component
  frontend/src/components/atoms/Input/input.test.tsx
  frontend/src/components/atoms/Input/input.tsx
Labels: frontend

#482 Fe validation inputs page register
  frontend/src/app/auth/register/constant.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/test/page.tsx
  frontend/src/components/atoms/ButtonAnimated/buttonAnimated.scss
  frontend/src/components/atoms/ButtonAnimated/buttonAnimated.tsx
  frontend/src/domain/repositories/RegisterRepository.tsx
Labels: frontend

#487 [DEVOPS] Upgrade dependencies and node version
  .github/workflows/frontend_ci.yaml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package.json
Labels: frontend, devops

#452 [DATA] refactor: Cloud folder structure/setting
  .gitignore
  data/README.md
  data/cloud_platform/GoogleDrive-DS.py
  data/cloud_platform/GoogleDrive.py
  data/cloud_platform/gp_login.py
  data/cloud_platform/settings.yaml
Labels: data

#497 DATA_Parameterize_model_variables_in_spam_detector
  data/models/spam_detector/sp_Create_script_model_Logistic_Regression_Parametrizacion.py
Labels: data

#499 [DATA] refactor: Data forlder structure
  data/README.md
  data/execution/blank.txt
  data/preprocessing/blank.txt
  data/training/blank.txt
Labels: data
