Repository unmsmfisi-socialapplication/social_app, pull requests merged in 2023-12, with the labels that each got.

#997 [DATA] feat: test API Get method
  data/API/Test/API_method_test.py
Labels: data

#1026 Data iac role assignment
  data/IaC/management_role/main.tf
  data/IaC/management_role/variables.tf
Labels: documentation, data

#1021 DATA_Implementation_of_a_Spam_Detection_Machine_Learning_Model_with_A…
  data/cloud_mldeployment/spam_clasification/.gitignore
  data/cloud_mldeployment/spam_clasification/Test_Model_Deployment.py
  data/cloud_mldeployment/spam_clasification/Test_Setting_up_the_connection_to_Azure_Storage.py
  data/cloud_mldeployment/spam_clasification/Test_Usage of the deployed web service.py
  data/cloud_mldeployment/spam_clasification/inference_spam_model_logistic_regression.py
  data/cloud_mldeployment/spam_clasification/logistic_regression_model.pkl
  data/cloud_mldeployment/spam_clasification/model_deployment.py
  data/cloud_mldeployment/spam_clasification/requirements.txt
  data/cloud_mldeployment/spam_clasification/setting_up_the_connection_to_Azure_Storage.py
  data/cloud_mldeployment/spam_clasification/spam_detection_environment.yml
  data/cloud_mldeployment/spam_clasification/test_inference_spam_model_logistic_regression.py
  data/cloud_mldeployment/spam_clasification/tfidf_vectorizer.pkl
  data/cloud_mldeployment/spam_clasification/usage_of_the_deployed_web_service.py
Labels: data

#1048 [DATA] feat: Azure cloud service deployed for Post Classification
  data/cloud_mldeployment/post_classification/azure_storage.py
  data/cloud_mldeployment/post_classification/main.py
  data/cloud_mldeployment/post_classification/requirements.txt
  data/test/pc_test_azure_storage.py
  data/test/pc_test_main.py
Labels: data, test

#1047 creation services workspace related
  data/IaC/azure_ml_envirorment/main.tf
  data/IaC/azure_ml_envirorment/variables.tf
Labels: data

#1041 [DATA] Migration of results to Azure DB
  .gitignore
  data/API/conexion_sql.py
  data/API/load_model_results.py
Labels: data

#1054 [BE] Fix comments functionality when deletion is requested
  backend/internal/comment/domain/comment.go
  backend/internal/comment/infrastructure/commentHandler.go
  backend/internal/comment/infrastructure/commentHandler_test.go
  backend/internal/comment/infrastructure/commentRepository.go
  backend/migrations/0000000014_create_comments_table.up.sql
Labels: backend

#1053 Be_fix_register
  backend/internal/register/domain/model.go
  backend/internal/register/domain/model_test.go
  backend/internal/register/infrastructure/registerUserHandler.go
  backend/internal/register/infrastructure/registerUserHandler_test.go
Labels: backend

#1059 [FE] Test: ButtonSquare
  frontend/package.json
  frontend/src/components/atoms/ButtonSquare/ButtonSquare.tsx
  frontend/src/components/atoms/ButtonSquare/buttonsquare.test.tsx
Labels: frontend, test

#1046 [FE] Add Chat Info componenet with 3 components: header, main, footer
  frontend/src/app/test/page.tsx
  frontend/src/components/molecules/ChatActions/components/footer.tsx
  frontend/src/components/molecules/ChatActions/components/header.tsx
  frontend/src/components/molecules/ChatActions/components/main.tsx
  frontend/src/components/molecules/ChatActions/index.tsx
  frontend/src/components/molecules/ChatInfo/index.tsx
Labels: frontend

#1019 [FE] (Test): RightBar Organism Component
  frontend/src/components/organisms/RightBar/RightBar.tsx
  frontend/src/components/organisms/RightBar/RightBart.test.tsx
Labels: frontend

#1058 [FE] feat: add profile statitics
  frontend/src/app/test/page.tsx
  frontend/src/components/index.tsx
  frontend/src/components/molecules/ProfileStatitics/index.scss
  frontend/src/components/molecules/ProfileStatitics/index.tsx
  frontend/src/components/molecules/ProfileStatitics/profileStatitics.test.tsx
Labels: frontend, test

#1061 [DATA] feat: preliminar deploy
  data/API/api_deployment.py
Labels: data

#1038 [FE] (Test): Add Mock Test for Card Follow Component
  frontend/src/components/atoms/ButtonPost/ButtonPost.tsx
  frontend/src/components/atoms/CardFollow/CardFollow.tsx
  frontend/src/components/atoms/IconSpam/icon.test.tsx
  frontend/src/components/atoms/InputCode/InputCode.test.tsx
  frontend/src/components/atoms/Search/Search.test.tsx
  frontend/src/components/atoms/Search/Search.tsx
  frontend/src/test/components/atoms/CardFollow.test.tsx
Labels: frontend, test

#840 add test for component ButtonAnimated
  frontend/src/components/atoms/ButtonAnimated/buttonAnimated.test.tsx
  frontend/src/components/atoms/ButtonAnimated/buttonAnimated.tsx
Labels: frontend

#956 Add test for ReportPublication molecule component
  frontend/src/components/molecules/ReportPublication/ReportPublication.test.tsx
  frontend/src/components/molecules/ReportPublication/index.tsx
Labels: frontend

#1062 [FE] (Test): Add Mock Test for router link path in Tag Component
  frontend/src/components/atoms/Tag/tag.test.tsx
  frontend/src/components/atoms/Tag/tag.tsx
Labels: frontend

#987 [BE] feat: Unfollow Profile - Database Table
  backend/migrations/0000000031_create_profile_unfollowers_table.down.sql
  backend/migrations/0000000031_create_profile_unfollowers_table.up.sql
Labels: backend

#1065 [QA] Test for Creation Successful Room
  QA/test_development/Chat.postman_collection.json
Labels: QA

#1073 Fe(register) fix constant register && api register
  frontend/.env.development
  frontend/src/app/auth/register/constant.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/components/atoms/Tag/tag.test.tsx
  frontend/src/components/atoms/Tag/tag.tsx
  frontend/src/data/entities/User.tsx
  frontend/src/redux/actions/userAction.tsx
  frontend/src/redux/ducks/user.tsx
  frontend/src/utilities/Constant.tsx
  frontend/src/utilities/Validation.tsx
Labels: frontend

#1075 [QA] Update login contract for invalid password
  QA/contracts/contract_login.json
Labels: QA

#1077 [QA] Update login contract for non-existing user
  QA/contracts/contract_login.json
Labels: QA

#648 FE ( testing ) : test disable buttonPost
  frontend/src/components/atoms/ButtonPost/ButtonPost.tsx
  frontend/src/components/atoms/ButtonPost/buttonPost.test.tsx
Labels: frontend

#1084 [QA] Update login contract for server error
  QA/contracts/contract_login.json
Labels: QA

#1072 [Fe] (Fix) Change of import module to navigation
  frontend/src/components/atoms/Tag/tag.test.tsx
Labels: frontend

#1093 [QA] Update user registration contract successful
  QA/contracts/contract_registration.json
Labels: QA

#1081 [M] integrate messages from user contact
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/UserAdapterTest.kt
  android/app/src/main/java/com/social/EmptyActivity.kt
  android/app/src/main/java/com/social/data/repository/ChatRepository.kt
  android/app/src/main/java/com/social/data/repository/ChatRepositoryImp.kt
  android/app/src/main/java/com/social/domain/model/ChatUserData.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ChatAdapter.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ListChatsFragment.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ListChatsViewModel.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/UserAdapter.kt
  android/app/src/main/res/drawable/icon_burger_bar.xml
  android/app/src/main/res/layout/conteiner_user_chat.xml
  android/app/src/main/res/layout/fragment_chat_screen.xml
  android/app/src/main/res/layout/fragment_list_chat.xml
  android/app/src/main/res/values/strings.xml
Labels: frontend, mobile

#996 [M] unit tests
  android/app/src/androidTest/java/com/social/homeTest/NewPostFragmentTest.kt
  android/app/src/androidTest/java/com/social/profileTest/UserProfileFragmentTest.kt
  android/app/src/androidTest/java/com/social/utilsTest/FragmentUtilsTest.kt
  android/app/src/main/java/com/social/presentation/home/NewPostFragment.kt
  android/app/src/main/java/com/social/presentation/profile/UserProfileFragment.kt
  android/app/src/main/java/com/social/utils/PermissionUtils.kt
  android/app/src/main/res/layout/fragment_user_profile.xml
  android/app/src/main/res/layout/item_post.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/themes.xml
Labels: mobile, test

#1101 [QA] Update user registration contract with error server
  QA/contracts/contract_registration.json
Labels: QA

#740 [BE] feat: Implement Timeline with followers posts
  .idea/.gitignore
  .idea/discord.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/social_app.iml
  .idea/vcs.xml
  backend/internal/post/application/postUseCase.go
  backend/internal/post/domain/timeline.go
  backend/internal/post/infrastructure/postHandler.go
  backend/internal/post/infrastructure/postHandler_test.go
  backend/internal/post/infrastructure/postRepository.go
  backend/internal/post/router.go
  backend/migrations/0000000017_create_home_timeline_table.down.sql
  backend/migrations/0000000017_create_home_timeline_table.up.sql
Labels: backend

#1117 [QA] Postman test update for successful login scenario
  QA/test_development/Login.postman_collection.json
Labels: QA

#1123 [QA] Postman test update for non-existent user login scenario
  QA/test_development/Login.postman_collection.json
Labels: QA

#1089 [DEVOPS] Implement IAC ML workspace with Terraform
  infra/data/main.tf
Labels: devops

#1119 [M] implememtation chat and user adapter from chats
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/ChatUserDataTest.kt
  android/app/src/androidTest/java/com/social/interactionTest/chatsTest/UserAdapterTest.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/ChatAdapter.kt
  android/app/src/main/java/com/social/presentation/interaction/chats/UserAdapter.kt
Labels: frontend, mobile

#1042 [DEVOPS] CI Frontend TF files validation
  .github/workflows/frontend-tf-ci.yaml
Labels: devops

#1122 [DATA] feat: automation azure Runbooks
  .gitignore
  data/bussines_analytics/data_transformation/Automation_sp/Auto_Runbook_post.ps1
  data/bussines_analytics/data_transformation/Automation_sp/Auto_Runbook_sentiment.ps1
  data/bussines_analytics/data_transformation/Automation_sp/Auto_Runbook_spam.ps1
Labels: data

#1125 [QA] Postman test update for login scenario with invalid request payload
  QA/test_development/Login.postman_collection.json
Labels: QA

#1126 [QA] Postman test update for login scenario with server error
  QA/test_development/Login.postman_collection.json
Labels: QA

#1102 [FE] (Test): Rendering Test for Sidebar Organism
  frontend/src/components/molecules/VerificationCode/verificationCode.tsx
  frontend/src/components/molecules/modalPhoto/index.tsx
  frontend/src/components/organisms/SideBar/SideBar.test.tsx
  frontend/src/components/organisms/SideBar/SideBar.tsx
Labels: frontend

#1105 [FE] (Test): Add OnClick Function to ButtonSquare Test
  frontend/src/components/atoms/ButtonAnimated/buttonAnimated.test.tsx
  frontend/src/components/atoms/ButtonAnimated/buttonAnimated.tsx
  frontend/src/components/atoms/ButtonSquare/ButtonSquare.tsx
  frontend/src/components/atoms/ButtonSquare/buttonsquare.test.tsx
Labels: frontend, test

#1103 [FE] (Test): Add Functions to Button Animated Test
  frontend/src/components/atoms/ButtonAnimated/buttonAnimated.test.tsx
  frontend/src/components/atoms/ButtonAnimated/buttonAnimated.tsx
Labels: frontend, test

#1129 [M] Junit Test Post
  android/.idea/androidTestResultsUserPreferences.xml
  android/app/build.gradle.kts
  android/app/src/androidTest/java/com/social/homeTest/HomeFragmentTest.kt
  android/app/src/androidTest/java/com/social/homeTest/PostRepositoryImpTest.kt
  android/app/src/main/java/com/social/presentation/home/HomeFragment.kt
Labels: test

#1131 [FE] feat (page not found) : create page not found
  frontend/public/images/notFound.png
  frontend/src/app/auth/404/404.css
  frontend/src/app/auth/404/page.tsx
  frontend/src/components/atoms/ButtonAnimated/buttonAnimated.scss
Labels: frontend, UX/UI

#1134 [QA] Update Postman test for the successful user registration scenario
  QA/test_development/Registro.postman_collection.json
Labels: QA

#1139 [QA] Update Postman Test for User Registration with Invalid Password
  QA/test_development/Registro.postman_collection.json
Labels: QA

#1142 [DEVOPS] feat: add pipelines to run Postman collection
  .github/workflows/manual-postman-test-ci.yaml
  .github/workflows/postman-test-ci.yaml
Labels: devops

#1144 [QA] Update Postman Test for User Registration with Existing Username
  QA/test_development/Registro.postman_collection.json
Labels: QA

#1128 [Be] timeline posts pagination
  backend/internal/post/application/postUseCase.go
  backend/internal/post/domain/timeline.go
  backend/internal/post/domain/timeline_test.go
  backend/internal/post/infrastructure/postHandler.go
  backend/internal/post/infrastructure/postHandler_test.go
  backend/internal/post/infrastructure/postRepository.go
Labels: backend

#1145 [QA] Update Postman Test for User Registration with Email in Use
  QA/test_development/Registro.postman_collection.json
Labels: QA

#1147 [QA] Update Postman Test for User Registration with Server Error
  QA/test_development/Registro.postman_collection.json
Labels: QA

#1148 [DEVOPS] Fix: error in running step in CI TF for Data
  .github/workflows/data-tf-ci.yml
Labels: devops

#1137 [BE] feat: Unfollow profile database sp
  backend/migrations/0000000033_create_sp_unfollow_profile.down.sql
  backend/migrations/0000000033_create_sp_unfollow_profile.up.sql
Labels: backend

#1158 [DATA]feat: Official migration of model results
  data/API/connect_to_azure_blob.py
  data/API/load_model_results.py
Labels: data

#673 [BE] feat: Implement send comments API for data team
  backend/internal/comment_dataset/application/commentDatasetUseCase.go
  backend/internal/comment_dataset/domain/commentDataset.go
  backend/internal/comment_dataset/infrastructure/commentDatasetRepository.go
  backend/internal/comment_dataset/infrastructure/commetDatasetHandler.go
  backend/internal/comment_dataset/router.go
  backend/internal/router/router.go
Labels: backend

#1162 [QA] Test for Successful Post Create with Empty Tittle
  QA/test_development/POST.postman_collection.json
Labels: QA

#1161 [QA] Stress cases for Profile
  QA/postman_test/QA_Stress_postman_Profile.json
Labels: QA

#1163 [QA] Update contract topic of interests
  QA/contracts/contract_topic_of_interests.json
Labels: QA

#1171 [DEVOPS] feat: Adding instrumentation test in mobile CI pipeline
  .github/workflows/mobile_ci.yaml
Labels: devops

#1178 [DEVOPS] Feat: setup infra as code with terraform in main branch
  .gitignore
  infra/backend/dev.tfvars
  infra/backend/main.tf
  infra/backend/providers.tf
  infra/backend/variables.tf
  infra/frontend/dev.tfvars
  infra/frontend/main.tf
  infra/frontend/providers.tf
  infra/frontend/variables.tf
Labels: devops

#1174 [BE] Add new validations and improve comment update functionality
  backend/internal/comment/infrastructure/commentRepository.go
Labels: backend

#1176 [QA] stress test for login
  QA/postman_test/QA_Stress_postman_Login.json
Labels: QA

#1180 [M] fix: Updating function convertNumberToK in UserProfileFragment
  android/app/src/androidTest/java/com/social/profileTest/UserProfileFragmentTest.kt
  android/app/src/main/java/com/social/presentation/profile/UserProfileFragment.kt
Labels: mobile

#1196 [DATA] Database resource, creation from Terraform
  data/IaC/management_resource/resource_database/main.tf
  data/IaC/management_resource/resource_database/variables.tf
Labels: data
